<div>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <!-- <p-splitButton label="Save" icon="fa-check" [ngmodel]="items"></p-splitButton> -->
        </div>
        
        <div class="ui-toolbar-group-right">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Username</label>
            </span>
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Password</label>
            </span>
            <button type="button" class="ui-button-info">Login</button>
        </div>
    </p-toolbar>
